[submodule "Middleware/STSELib"]
	path = Middleware/STSELib
	url = https://github.com/STMicroelectronics/STSELib.git
[submodule "Middleware/mbedtls"]
	path = Middleware/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
	branch = v3.6.2
